<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌列表</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap-3.3.7/dist/css/bootstrap.css" />

</head>
<body>
<div id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Name:
                <input type="text" v-model="Name">
            </label>
            <lable>
                <input type="button" value="添加" class="btn btn-primary"  @click="add()">
            </lable>

        </div>
    </div>
    <table class="table table-bordered table-hover table-striped0">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CTime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in list" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Ctime}}</td>
            <td>
                <a href="" @click.prevent="del(item.id)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    Vue.http.options.root = "http://vue.studyit.io/api/";
    //全局配置
    Vue.http.option.emulateJson = true;
    var vm = new Vue({
        el:"#app",
        data:{
            Name:"",
            list:[
                //存放所有品牌的数组
                {id:1,Name:'雅诗兰黛',Ctime:new Date()},
                {id:2,Name:'迪奥999',Ctime:new Date()},
                {id:3,Name:'MAC',Ctime:new Date()},
                {id:4,Name:'小众品牌',Ctime:new Date()}
            ]
        },
        created(){
            //当data和methods初始化完后，自动执行created生命周期函数
            this.getAllList();
        },
        methods:{

            getAllList() {
                //获取所有的品牌列表
                //分析:
                //1，已导入resource包。可直接通过this.$http 来发起数据请求
                //2.根据文档决定发起请求的方式get or post
                //3. this.$http.get("url").then(function(result){})
                //4.通过then 指定回调函数之后，在回调函数中，可以拿到数据服务器返回的result
                //5.先判断result.status是否等于0，若等于0，就成功，可以把result.message赋值给 this.list
              //若不等于0，弹框提示，获取数据失败！
                this.$http.get("getprodlist").then(result => {
                  console.log(result.body);
                    var r = result.body;
                    if(r.status === 0) {
                        //成功
                        this.list = r.message;
                    }else{
                        //失败了
                        alert("获取数据失败");
                    }
                })
            },
            add(){
                this.$http.get("addproduct",{Name:this.Name}).then(result => {
                    console.log(result.body);
                    var r = result.body;
                    if(r.status === 0) {
                        //成功
                        this.getAllList();
                        this.Name=''
                    }else{
                        //失败了
                        alert("添加失败");
                    }
                })
            },
            del(id) {
                this.$http.get("delproduct/"+id).then(result => {
                    console.log(result.body);
                    var r = result.body;
                    if(r.status === 0) {
                        //成功
                        this.getAllList();
                    }else{
                        //失败了
                        alert("删除失败");
                    }
                })

            },
        }

    })
</script>
</body>
</html>